# RSpec

snippet con
	context "${1}" do
		${2}
	end
snippet des
	describe "${1:subject}" do
		${2}
	end
snippet desc
	describe ${1:`substitute(Filename(), '^.', '\u&', '')`}${2:, "${3:description}"} do
		${4}
	end
snippet it
	it "${1}" do
		${2}
	end
snippet itp
	it "${1}"
snippet let
	let(:${1:subject})	{ ${2} }